<学校 时间="2024/6/11" 动态添加="运行时">
	江西财经大学
	<学生列表><学号>0</学号><学号>1</学号><学号>2</学号><学号>3</学号><学号>4</学号><学号>5</学号><学号>6</学号><学号>7</学号><学号>8</学号><学号>9</学号></学生列表><教师列表><学号>0</学号><学号>1</学号><学号>2</学号><学号>3</学号><学号>4</学号><学号>5</学号><学号>6</学号><学号>7</学号><学号>8</学号><学号>9</学号></教师列表></学校>